 @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
  .option                         {background: #888; border-radius: .3em; min-width: 4em;
                                   text-align: center; padding: .3em; color: #FFF;
                                   margin: .3em; display: inline-block;}
  .option.selectable              {cursor: pointer;}
  .option.remove                  {background: #429319;}
  .option.add                     {display: none;}
  input[type="text"]              {border-left: 0; border-top: 0; border-right: 0;
                                   border-bottom: 1px dashed #999; width: 20em;}
  .fa-check                       {margin-left: .15em;}
  .fa                             {font-size: 16px; margin-right: 5px;}
